---
const pageTitle = "プロフィール";

const identity = {
    name: "kamejiro",
    birthday: "10月5日",
    favoriteInstrument: "ギター",
    favoriteArtist: ["OSTER project", "大石昌良"],
    hobbies: ["楽器演奏", "音楽鑑賞", "作曲", "テトリス"]
};
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<header>
			<div class="container">
                <h1><a href="index.html">あそびば</a></h1>
                <nav>
                    <ul>
                        <li><a href="profile.html">プロフィール</a></li>
                        <li><a href="blog.html">ブログ</a></li>
                        <li><a href="bames.html">ゲーム</a></li>
                        <li><a href="tools.html">ツール</a></li>
                    </ul>
                </nav>
			</div>
		</header>

		<main>
			<h1>{pageTitle}</h1>
			<h2>kamejiro</h2>
            <dev class="profile">
                <ul>
                    <li><p>誕生日：{identity.birthday}</p></li>
                    <li><p>得意な楽器：{identity.favoriteInstrument}</p></li>
                    <li><p>好きなアーティスト：{identity.favoriteArtist.join("、")}</p></li>
                    <li><p>趣味：{identity.hobbies.join("、")}</p></li>
                </ul>
            </dev>
			
		</main>
	</body>
</html>
